@using StartUp_CORE.Models;
<h1>My persons</h1>

@{
    void RenderPerson(Person person)
    {
        <label>@person.Firstname @person.Lastname <p>Numbers <br/> @foreach (var phone in person.PhoneNumbers)
            {
                @phone; <br />
            }
            </p>
        </label> <br />
        <label>@person.Address</label> <br />
        <label>@person.City</label> <br />
        <label></label>
        <br />

    }
}

@foreach (Person p in @ViewBag.List) {
    RenderPerson(p);
}