@{
    ViewBag.Title = "Index";
}
@using StartUp_CORE.Models

<h1>Most wanted giga racists</h1>

<p>@ViewBag.P1.Firstname @ViewBag.P1.Lastname</p>
<p>@ViewBag.P1.Address</p>
<p>@ViewBag.P1.Zip</p>
<p>@ViewBag.P1.City</p>

<p>@ViewBag.P2.Firstname @ViewBag.P2.Lastname</p>
<p>@ViewBag.P2.Address</p>
<p>@ViewBag.P2.Zip</p>
<p>@ViewBag.P2.City</p>